body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #eee;
    padding: 40px;
}

h1 {
    color: #e4e9f2;
}

.Dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    margin-top: 35px;
}

.Widget {
    background-color: #010508;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.Widget-header {
    font-weight: bold;
    margin-bottom: 10px;
    color: #c4d7f5;
}

.Widget-content li {
    margin-bottom: 8px;
}

.Widget-content a {
    color:#1a4b99;
    text-decoration: none;
}

.Widget-content a:hover {
    cursor: pointer;
    text-decoration: underline;
}