body {
    font-family: 'Playfair Display' , sans-serif;
    background-color: #1e1e2f;
    color: #e0e0e0;
    padding: 40px;
    margin: 0px;
    cursor: default;
}

h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 100px;
    gap: 16px;
    padding: 12px;
    max-width: 100vw;
    box-sizing: border-box;
}

.widget {
    background-color: #2a2a3f;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.widget:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
}

.widget-header {
    font-weight: bold;
    margin-bottom: 10px;
    color: #c4d7f5;
}

.widget-content li {
    margin-bottom: 8px;
    padding: 5px, 0px;
}

.widget-content a {
    color: #4f9cff;
    text-decoration: none;
    transition: color 0.3s;
}

.widget-content a:hover {
    color: #82b0ff;
    cursor: pointer;
    text-decoration: underline;
}

.widget-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #4f9cff;
}

.widget-content s {
    color: #888;
}

/* .weather-widget {
    min-height: 40px;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.4;
    border: 10px solid #0000ef; 
    background-color: red;
} */

.weather_widget .weather-location-span {
    font-style: oblique 5deg;
    font-size: 1.3rem;
    /* color: cadetblue; */
    color: #83aae0;
}



.todo-controls {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.todo-controls button {
    color: #bebedc;
    background-color: #6d6d9a;
    border-radius: 5px;
    border: none;
    padding: 3px 6px;
}

.todo-controls button:hover {
    background-color: #5e708f;
    transform: translateY(-2px);
    transform: scale(1.05);
}


.todo-add {
    display: flex;
    margin-left: -5px;
}
.todo-input {
    color: #fff;
    background-color: #474764;
    border-radius: 100px;
    padding: 5px 5px;
    border: none;
}

.hours-timer, .minutes-timer, .seconds-timer {
    color: #fff;
    background-color: #474764;
    border-radius: 100px;
    padding: 5px 5px;
    border: none;
    width: 65px;
    margin-bottom: 12px;
}

.display-timer {
    font-size: 2.5rem;
    font-weight: bold;
}


.controls-timer button{
    color: #bebedc;
    background-color: #6d6d9a;
    border-radius: 5px;
    border: none;
    padding: 3px 6px;
}

.controls-timer button:hover{
    background-color: #5e708f;
    transform: translateY(-2px);
    transform: scale(1.05);
}


input[type="number"] {
    -moz-appearance: textfield;
}

.stats_text {
    /* font-weight:; */
    font-size: 1.1rem;
}

.app-launch-button {
    color: #bebedc;
    background-color: #6d6d9a;
    border-radius: 5px;
    border: none;
    padding: 3px 6px;
    margin-bottom: 5px;
}

.app-launch-button:hover {
    background-color: #5e708f;
    transform: translateY(-2px);
    transform: scale(1.05);
}

.app-launch-image {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: auto;

}

.audio-button {
    color: #bebedc;
    background-color: #6d6d9a;
    border-radius: 5px;
    border: none;
    padding: 3px 6px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

.audio-button:hover {
    background-color: #5e708f;
    transform: translateY(-2px);
    transform: scale(1.05); 
}

.audio-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 7px;
}

.audio-artist {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.audio-status {
    margin-left: 5px;
    font-size: 0.85rem;
}

.audio-time-div {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-bottom: 5px;
    margin-top: 23px;
}

.audio-bar {
    appearance: none;
    width: 100%;
    border-radius: 5px;
    background:#3a3a58;
    border:2px solid #464679;
    height: 8px;
    margin-bottom: 8px;
}

.audio-bar::-moz-range-thumb {
    width: 12px;
    height: 12px;

    background: #1154ab;
    cursor: pointer;
    border-radius: 35%;
    border: 1px solid #202e44;
}

.audio-bar::-moz-range-progress {
    background: #254267;
    height: 8px;
    border-radius: 8px;
}


.audio-button-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.audio-text {
    margin-top: -5px;
    font-style: bold;
    font-size: 0.88rem;
}

.volume-button {
    margin-top: 0px;
}

.volume-widget {
    text-align: center;
}

.clipboard-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}