body {
    font-family: Arial, sans-serif;
    background-color: #010508;
    color: #001F52;
    padding: 40px;
}

h1 {
    color: #e4e9f2;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 200px));
    gap: 16px;
    margin-top: 35px;
}

.widget {
    background-color: #011536;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.widget-header {
    font-weight: bold;
    margin-bottom: 10px;
    color: #c4d7f5;
}

.widget-content li {
    margin-bottom: 8px;
}

.widget-content a {
    color: #7a90b3;
    text-decoration: none;
}

.widget-content a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.widget-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #7a90b3;
}

.widget-header-h3 {
    color:#eee;
}