<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/theme.css">
    <link href="https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">


    <title>Dashboard</title>
</head>
<body>
    <div class="bambu-header-bar">
        <h1 class="bambulab-dashboard-title">Bambulab P1S</h1>

        <span class="bambulab-page-headers"> 
            <a href="/Bambulab/Filament" class="icon-link icon-link-first" title="Filament Contents">
                <img src="/static/icons/filament.png" class="header-icon">
                <span class="icon-label">Fliament</span>
            </a>
            <a href="/Bambulab/status" class="icon-link" title="RAW Json">
                <img src="/static/icons/json.png" class="header-icon">
                <span class="icon-label">RAW Json</span>
            </a>
            <a href="/Bambulab/Page" class="icon-link" title="Control">
                <img src="/static/icons/control.png" class = "header-icon">
                <span class="icon-label">Control</span>
            </a>
            <a href="/Bambulab/Settings" class="icon-link" title="Settings">
                <img src="/static/icons/settings.png" class="header-icon">
                <span class="icon-label">Settings</span>
            </a>
            <a href= "/Bambulab/HMS" class="icon-link" title="HMS">
                <img src="/static/icons/hms.png" class="header-icon">
                <span class="icon-label">HMS</span>
            </a>
            <a href="/Bambulab/Print_Files" class="icon-link" title="Print Files">
                <img src="/static/icons/file.svg" class="header-icon">
                <span class="icon-label">Print Files</span>
            </a>
        </span>

    </div>

    <div class="filament-container">

        <div class="filament-card" id="filament-card-1" onclick="filament_data(0)">
            <div class="filament-text" id="filament-text-1">
                <div class="filament-label">AMS 1</div>
                <div class="filament-type" id="filament-type-1">Loading...</div>
            </div>
        </div>

        <div class="filament-card" id="filament-card-2" onclick="filament_data(1)">
            <div class="filament-text" id="filament-text-2">
                <div class="filament-label">AMS 2</div>
                <div class="filament-type" id="filament-type-2">Loading...</div>
            </div>
        </div>

        <div class="filament-card" id="filament-card-3" onclick="filament_data(2)">
            <div class="filament-text" id="filament-text-3">
                <div class="filament-label">AMS 3</div>
                <div class="filament-type" id="filament-type-3">Loading...</div>
            </div>
        </div>

        <div class="filament-card" id="filament-card-4" onclick="filament_data(3)">
            <div class="filament-text" id="filament-text-4">
                <div class="filament-label">AMS 4</div>
                <div class="filament-type" id="filament-type-4">Loading...</div>
            </div>
        </div>

    </div>

    <dialog id="filament-modal" class="filament-modal">
        <div class="filament-modal-text" id="filament-modal-text"></div>
        <button id="filament-modal-exit" class="filament-modal-exit" onclick="close_dialog()">Done</button>
    </dialog>

    <script src="{{ url_for('static', filename='bambulab_filament.js') }}"></script>
</body>
</html>