<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/theme.css">
    <link href="https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <title>Dashboard</title>
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
</head>
<body>
    <div class="bambu-header-bar">
        <h1 class="bambulab-dashboard-title">Bambulab P1S</h1>

        <span class="bambulab-page-headers"> 
            <a href="/Bambulab/Filament" class="icon-link icon-link-first" title="Filament Contents">
                <img src="/static/icons/filament.png" class="header-icon" alt="png">
                <span class="icon-label">Fliament</span>
            </a>
            <a href="/Bambulab/status" class="icon-link" title="RAW Json">
                <img src="/static/icons/json.png" class="header-icon" alt="png">
                <span class="icon-label">RAW Json</span>
            </a>
            <a href="/Bambulab/Page" class="icon-link" title="Control">
                <img src="/static/icons/control.png" class = "header-icon" alt="png">
                <span class="icon-label">Control</span>
            </a>
            <a href="/Bambulab/Settings" class="icon-link" title="Settings">
                <img src="/static/icons/settings.png" class="header-icon" alt="png">
                <span class="icon-label">Settings</span>
            </a>
            <a href= "/Bambulab/HMS" class="icon-link" title="HMS">
                <img src="/static/icons/hms.png" class="header-icon" alt="png">
                <span class="icon-label">HMS</span>
            </a>
            <a href="/Bambulab/Print_Files" class="icon-link" title="Print Files">
                <img src="/static/icons/file.svg" class="header-icon" alt="png">
                <span class="icon-label">Print Files</span>
            </a>
        </span>

    </div>
    <div class="bambulab-main-page-index">
        <img src="/Bambulab/camera/live" class="camera-live-dashboard" alt="png">

        <div class="bambulab-main-page-right">
            <div class="bambulab-main-page-nozzle bambulab-main-page-data" id="bambulab_main_page_nozzle" onclick="Nozzle_temp()"> Loading... </div>
            <div class="bambulab-main-page-bed bambulab-main-page-data" id="bambulab_main_page_bed" onclick="Bed_temp()"> Loading... </div>
        </div>

    </div>


    <script src="{{ url_for('static', filename='bambulab_main.js') }}"></script>
</body>
</html>
