<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/theme.css">
    <link href="https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <title>Dashboard Debug</title>
</head>
<body>

    <h1 class="debug-title">Debug</h1>
    <div class="debug-items" id="debug_items">
        <div class="debug-item" id="debug_item_home">Loading...</div>
    </div>

    <script src="{{ url_for('static', filename='debug.js') }}"></script>
</body>
</html>