    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Me Dashbad</h1>
        
        <div class="dashboard">
            {% for widget in widgets %}
                <div class="widget">
                    <div class="widget-header">
                        {{widget.title}}
                    </div>

                    <div class="widget-content">
                        {% if widget.type == "links" %}
                            <ul>
                                {% for item in widget.items %}
                                    <li>
                                        <a href="{{items.url}}" target="_blank">{{items.name}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
            

    </body>
    </html>