<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Dashboard</title>
</head>
<body>
    <h1> Should be bigger than p</h1>
    
    <div class="Dashboard">
        <div class="Widget">
            <div class="widget-header">
                <h3>Quick Links</h3>
            </div>
            <div class="Widget-content">
                <ul>
                    <li><a href="https://google.com.au" target="_blank">Google</a></li>
                </ul>
            </div>
        </div>
    </div>
        

</body>
</html>