:root {
    --primary: {{ theme.primary }};
    --background: {{ theme.background }};
    --text_color: {{ theme.text_color }};
    --title_color: {{ theme.title_color }};
    --widget_background: {{ theme.widget_background }};
    --widget_header: {{ theme.widget_header }};
    --widget_content_a: {{ theme.widget_content_a }};
    --widget_content_a_hover: {{ theme.widget_content_a_hover }};
    --widget_content_ul: {{ theme.widget_content_ul }};
    --widget_content_s: {{ theme.widget_content_s }};
    --weather_location: {{ theme.weather_location }};
    --button_text_color: {{ theme.button_text_color }};
    --button_background: {{ theme.button_background }};
    --button_hover: {{ theme.button_hover }};
    --input_text_color: {{ theme.input_text_color }};
    --input_background_color: {{ theme.input_background_color }};
    --audio_bar_background: {{ theme.audio_bar_background }};
    --audio_bar_border: {{ theme.audio_bar_border }};
    --audio_bar_thumb: {{ theme.audio_bar_thumb }};
    --audio_bar_thumb_border: {{ theme.audio_bar_thumb_border }};
    --audio_bar_time: {{ theme.audio_bar_time }}
}